
<!DOCTYPE html>
<html class="client-nojs" lang="en" dir="ltr">
    <head>
    <meta charset="UTF-8"/>
    <title>カスタードプディング - Wikipedia</title>
    <style>
        ul, ol {
        width:140px;
        background: #fcfcfc;/*背景色*/
        padding: 0.5em 0.5em 0.5em 2em;/*ボックス内の余白*/
        border: solid 3px gray;/*線の種類 太さ 色*/
        
        }

        ul li, ol li {
        line-height: 1.5; /*文の行高*/
        padding: 0.5em 0; /*前後の文との余白*/
        }
    </style>
</head>
<body class="mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-0 ns-subject mw-editable page-カスタードプディング rootpage-カスタードプディング skin-vector action-view skin-vector-legacy"><div id="mw-page-base" class="noprint"></div>
    <a href = "{% url 'index' %}">indexへ</a>
    <h1>カスタードプディング</h1>
    <div>出典: フリー百科事典『ウィキペディア（Wikipedia）』</div>

    <img src="//upload.wikimedia.org/wikipedia/commons/thumb/5/58/Cremecaramel.jpg/300px-Cremecaramel.jpg"/ align="right" border="5">
    </a>  
    <a href="/wiki/%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB:Cremecaramel.jpg"></a>
    <b>カスタードプディング</b></div></div>
    （<a href="/wiki/%E8%8B%B1%E8%AA%9E" title="英語">英</a>&#58; 
    <span lang="en">custard pudding, baked custard</span>、<a href="" >イギリス英語</a>&#58; 
    <span lang="en-gb">caramel custard, cream caramel</span>、<a href="">米</a>&#58; 
    <span lang="en-us">crème caramel, flan</span>、<a href="">仏</a>&#58; 
    <span lang="fr">crème caramel, crème renversée au caramel, flan aux œufs</span>）、
    <b>カスタードプリン</b>
    または単に<b>プリン</b>、<b>フラン</b>は、<a href="">洋菓子</a>の1つ。
    <p>プリン型に<a href="">牛乳</a>と<a href="">砂糖</a>を混ぜた<a href="">卵</a>
    液を流し込み、加熱して<a href="">カスタード</a>を凝固させたものである。なお、原義の
    <a href="">プディング</a>はイギリスでの多様な蒸し料理の総称である。</p>
    <div><ul>
        <li>概要</li>
        <li>調理法</li>
        <li>ケミカルプリン</li>
        <li>バリエーション</li>
        <li>トピック</li>
        <li>脚注</li>
        <li>参考文献</li>
        <li>関連項目</li>
    </ul></div>
    <h2>概要</h2>
<p>由来には、イギリス航海者（<a href="">16世紀</a>）の考案説と<a href="">腸詰</a>の派生説がある
<sup id="">ラテンアメリカ</a>では<a href="">スペイン語</a>および
<a href="" >ポルトガル語</a>でフラン（flan、&lt; <a href="">古仏</a>: flaon &lt; 
<a href="">羅</a>&#58; <span lang="la">fladonem</span> &lt; 
<a href="">古高独</a>: flado 「扁平な<a href="">ケーキ</a>類」に由来）と呼ばれる。
<a href="">アメリカ合衆国</a>では、英語の名称よりもスペイン語のフランやフランス語のクレーム・カラメル
（クレーム・ランヴェルセ・オ・カラメル〈ひっくり返しクリーム菓子カラメルがけ〉の省略形）で知られていることが多い。
<a href="">ベトナム</a>には<a href="">フランス統治</a>時代に伝来し、バン・フランまたはケム・カラメン
<sup id=""><a href="">&#91;2&#93;</a></sup>（<a href="" title="ベトナム語">越</a>&#58; 
<span lang="vi">Bánh flan, kem caramen</span>、バインはベトナム語で粉などを捏ねて作る食品、ケムはクリームのこと）
と呼ばれている。スペインのフランが伝来した<a href="">フィリピン</a>では<a href="">レチェ・フラン</a>
（<span lang="es">leche flan</span>、「<a href="">乳</a>のケーキ」）と呼ばれる。
フランスのフラン・オ・ズーは「卵のフラン」の意。
</p><p>プリン型に牛乳と砂糖を混ぜた卵液を流し込んで加熱することにより、<a href="">カスタード</a>
を凝固させたものである。溶き卵に水分を加えて加熱して固めるという点で、製法は<a href="">茶碗蒸し</a>
とよく似ている。一方、卵を主原料とせず<a href="">ゼラチン</a>などの
<a href="">ゲル化剤</a>を用いてゼリー状に固める<b>ケミカルプリン</b>（後述）もある。
</p><p>一般的には甘味として<a href="" >カラメル</a>ソースを用いることが多く、柔らかな舌触りとカラメルの
ほろ苦さの混ざった甘さが特徴。あらかじめプリン型の底に<a href="">カラメル</a>ソースを入れておき、
型を伏せた状態で皿に移して食卓に供するが、カラメルを別添としたものもあり、
容器に入れたまま食べることを前提としたものもある。ブランド牛乳を用いたものや、牛乳瓶に似た形の容器で加熱して瓶のまま
<a href="">スプーン</a>で食べるものもある。
</p><p>洋菓子屋や<a href="" >コンビニエンスストア</a>でも人気が高い商品で、贈答品まで幅広く商品バリエーションがある。
<a href="" >台湾</a>では、市販のケミカルプリンに1000ccという巨大なサイズのものがある。
</p><p>カスタードプディングの硬さと弾力の嗜好には、時代によって変化がある<sup id="cite_ref-3">
<a href="">&#91;3&#93;</a></sup>。
</p><p>なお、柔らかく調整することにより、飲料として商品化したものも発売されている。
<br><br>
<a href = "{% url 'index' %}">indexへ</a>
</body></html>